.favourite-bg-1 {
  
    background-image: url(../img/favourites/indonesia.png);
    grid-area: favourite-bg-1;
  }
  
  .favourite-bg-2 {
    background-image: url(../img/favourites/australia.png);
    grid-area: favourite-bg-2;

  }
  
  .favourite-bg-3 {
    background-image: url(../img/favourites/switzerland.png);
    grid-area: favourite-bg-3;

  }
  
  .favourite {
    justify-content: space-around;
    display: grid;
    grid-template-areas: 
      'favourite-bg-1 favourite-bg-2 favourite-bg-3';
  }

  .image{
    width: 90%;
    height: auto;
  }

 